#borderimg1 { 
    border: 10px solid transparent;
    padding: 10px;
    -webkit-border-image: url('../img/map/border.png') 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url('../img/map/border.png') 30 stretch; /* Opera 11-12.1 */
    border-image: url('../img/map/border.png') 30 stretch;
}